/node_modules/
/dist/
/.vite/

/vendor/
/storage/*.key
/storage/*.log
/storage/framework/*
!/storage/framework/.gitignore
/storage/logs/*
!/storage/logs/.gitignore

/.env
/.env.*.php

docker-compose.override.yml
Dockerfile.*
*.log

.vscode/
.idea/
*.iml

.DS_Store
Thumbs.db

/bootstrap/cache/*
!/bootstrap/cache/.gitignore

.env